<% provide(:title, "Privacy Policy") %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="privacy-policy">
      <div class="privacy-policy-title">プライバシーポリシー</div>
      <p>
        「Smart Stylist」の運営者（以下「運営者」）は、本ウェブサイト上で提供するサービス（以下「本サービス」）における、
        ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」）を定めます。
      </p>
      <div class="policy-clause-title">第1条（個人情報）</div>
      <div class="policy-clause-content">
        <p>
          「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、
            連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、
            及び健康保険証の保険者番号等の当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
        </p>
      </div>
      <div class="policy-clause-title">第2条（個人情報の収集方法）</div>
      <div class="policy-clause-content">
        運営者は、ユーザーが利用登録をする際に氏名、生年月日、住所、電話番号、メールアドレス、銀行口座番号、クレジットカード番号、
        運転免許証番号等の個人情報をお尋ねすることがあります。また、ユーザーと提携先等との間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を、
        運営者の提携先（情報提供元、広告主、広告配信先等を含む。以下｢提携先｣）等から収集することがあります。
      </div>
      <div class="policy-clause-title">第3条（個人情報を収集・利用する目的）</div>
      <div class="policy-clause-content">
        <p>当社が個人情報を収集、利用する目的は、以下のとおりです。</p>
        <ol>
          <li>本サービスの提供、運営のため</li>
          <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む。）</li>
          <li>本サービスの新機能、更新情報等及び、本サービスに関する案内のメールを送付するため</li>
          <li>メンテナンス、重要なお知らせ等、必要に応じたご連絡のため</li>
          <li>利用規約に違反したユーザーや、不正、不当な目的でサービスを利用しようとするユーザーを特定し、ご利用をお断りするため</li>
          <li>ユーザーに自身の登録情報の閲覧や変更、削除、利用状況の閲覧を行ってもらうため</li>
          <li>ユーザーに利用料金を請求するため</li>
          <li>上記の利用目的に付随する目的</li>
        </ol>
      </div>
      <div class="policy-clause-title">第4条（利用目的の変更）</div>
      <div class="policy-clause-content">
        <ol>
          <li>運営者は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
          <li>
            利用目的の変更を行った場合、変更後の目的について、当社所定の方法でユーザーに通知し、又は本ウェブサイト上に公表するものとします。
          </li>
        </ol>
      </div>
      <div class="policy-clause-title">第5条（個人情報の第三者提供）</div>
      <div class="policy-clause-content">
        <ol>
          <li>
            運営者は、次に掲げる場合を除き、予めユーザーの同意なしに、
            第三者に個人情報を提供することはありません。（個人情報保護法その他の法令で認められる場合を除く。）
            <ol>
              <li>人命、身体又は財産の保護のために必要があり、本人の同意を得ることが困難な場合</li>
              <li>公衆衛生の向上、又は児童の健全な育成推進に特に必要があり、本人の同意を得ることが困難な場合</li>
              <li>国の機関、地方公共団体、又はその委託を受けた者が法令の定める事務を遂行することに協力する必要があり、
                本人の同意を得ることで当該事務の遂行に支障を及ぼす恐れがある場合
              </li>
              <li>
                予め次の事項を告知あるいは公表し、かつ運営者が個人情報保護委員会に届出をした場合
                <ol>
                  <li>利用目的に第三者への提供を含むこと</li>
                  <li>第三者に提供されるデータの項目</li>
                  <li>第三者への提供の手段又は方法</li>
                  <li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
                  <li>本人の求めを受け付ける方法</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            前項の定めに関わらず、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。
            <ol>
              <li>運営者が利用目的の達成に必要な範囲内において、個人情報の取扱いの全部又は一部を委託する場合</li>
              <li>合併その他の事由による事業の承継に伴い個人情報が提供される場合</li>
              <li>
                個人情報を特定の者との間で共同して利用する場合であり、その旨並びに共同して利用される個人情報の項目、
                共同して利用する者の範囲、利用する者の利用目的及び当該個人情報の管理について責任を有する者の氏名又は名称について、
                予め本人に通知し、又は本人が容易に知り得る状態に置いた場合
              </li>
            </ol>
          </li>
        </ol>
      </div>
      <div class="policy-clause-title">第6条（個人情報の開示）</div>
      <div class="policy-clause-content">
        <ol>
          <li>
            運営者は、本人から個人情報の開示を求められた時は、本人に対し、遅滞なくこれを開示します。
            ただし、開示することにより次のいずれかに該当する場合、その全部又は一部を開示しないこともあり、
            開示しない決定をした場合、その旨を遅滞なく通知します。
            <ol>
              <li>本人又は第三者の生命、身体、財産その他の権利利益を害する恐れがある場合</li>
              <li>運営者の業務の適正な実施に著しい支障を及ぼす恐れがある場合</li>
              <li>その他法令に違反することとなる場合</li>
            </ol>
          </li>
          <li>前項の定めに関わらず、履歴情報及び特性情報等の個人情報以外の情報については、原則として開示致しません。</li>
        </ol>
      </div>
      <div class="policy-clause-title">第7条（個人情報の訂正および削除）</div>
      <div class="policy-clause-content">
        <ol>
          <li>
            運営者は、運営者の保有する自己の個人情報が誤った情報である場合、当社が定める手続きにて、
            運営者に対し個人情報の訂正、追加又は削除（以下「訂正等」）を請求することができます。
          </li>
          <li>
            運営者は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合、遅滞なく、
            当該個人情報の訂正等を行うものとします。
          </li>
          <li>
            運営者は、前項の規定に基づき訂正等を行った場合、又は訂正等を行わない旨の決定をした時は遅滞なく、これをユーザーに通知します。
          </li>
        </ol>
      </div>
      <div class="policy-clause-title">第8条（個人情報の利用停止等）</div>
      <div class="policy-clause-content">
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
      <div class="policy-clause-title">第9条（プライバシーポリシーの変更）</div>
      <div class="policy-clause-content">
        <ol>
          <li>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除き、ユーザーに通知することなく、変更することができるものとします。</li>
          <li>運営者が別途定める場合を除き、変更後のプライバシーポリシーは、本ウェブサイトに掲載した時から効力を生じるものとします。</li>
        </ol>
      </div>
    </div>
  </div>
</div>