<% provide(:title, "Privacy Policy") %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="privacy-policy">
      <div class="privacy-policy-title">プライバシーポリシー</div>
      <p>
        「Smart Stylist」の運営者（以下「運営者」）は、本ウェブサイト上で提供するサービス（以下「本サービス」）における、
        ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」）を定めます。
      </p>
      <div class="policy-clause-title">第1条（個人情報）</div>
      <div class="policy-clause-content">
        <p>
          
        </p>
      </div>
      <div class="policy-clause-title">第2条（個人情報の収集方法）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第3条（個人情報を収集・利用する目的）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第4条（利用目的の変更）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第5条（個人情報の第三者提供）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第6条（個人情報の開示）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第7条（個人情報の訂正および削除）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第8条（個人情報の利用停止等）</div>
      <div class="policy-clause-content"></div>
      <div class="policy-clause-title">第9条（プライバシーポリシーの変更）</div>
      <div class="policy-clause-content"></div>
    </div>
  </div>
</div>