<% provide(:title, "Terms Of Service") %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="terms-full">
      <%= render 'terms_sentences' %>
    </div>
  </div>
</div>

<div class="back-from-terms">
  <%= link_to :back do %>
    <button class="btn btn-md btn-default">戻る</button>
  <% end %>
</div>