<% provide(:title, "Top") %>

<div class="row">
  <div class="col-md-4">
    <div class="select-button-area">
      <div class="circle">
        <p class="main-select-button">新規オーダー</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="select-button-area">
      <div class="circle">
        <p class="main-select-button">取引中オーダー</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="select-button-area">
      <div class="circle">
        <p class="main-select-button">月間売上管理</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div  class="select-button-area">
      <div class="circle">
        <p class="main-select-button">顧客情報管理</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div  class="select-button-area">
      <div class="circle">
        <p class="main-select-button">工場情報管理</p>
      </div>
    </div>
  </div>
</div>