<% provide(:title, "Edit") %>
<% provide(:class_text, "user--edit") %>
<% provide(:button_text, '更新') %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1>ユーザー情報更新</h1>
    <%= render "form" %>
  </div>
</div>