<% provide(:title, "Sign up") %>
<% provide(:class_text, "signup") %>
<% provide(:button_text, "新規作成") %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="plan-title">
      <div class="price-explain">月額 1,980円</div>
      <div class="price-explain">初回登録後、<span class="free-span">30日間無料</span></div>
      <span class="free-span-explain">無料お試し期間中に退会された場合、料金は発生しません。<span>
    </div>
    <%= render "terms_of_service" %>
    <h1>ユーザー登録</h1>
    <%= render "form" %>
  </div>
</div>