<% provide(:title, @user.name) %>

<h1>アカウント情報</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-condensed" id="user-table">
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
      </tr>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <div class="to-user-edit">
      <%= link_to "アカウント情報を編集する", edit_user_path(@user), class: "btn btn-md btn-primary" %>
    </div>
  </div>
</div>