<% provide(:title, "Unpaid Orders") %>

<h1>支払い未完了オーダー一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-condensed table-hover" id="unpaid-orders-table">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
</div>