/* ユーザー顧客一覧テーブル */

#user-clients-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 新規顧客登録ページ */

.label-new-client {
  margin-top: 5px;
}

.btn-new-client {
  margin-top: 10px;
}

/* 顧客f情報編集ページ */

.label-edit-client {
  margin-top: 5px;
}

.btn-edit-client {
  margin-top: 10px;
}

/* 顧客詳細ページ */

#client-table {
  th {
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.client-show-btn-area {
  text-align: center;
}

.btn-history {
  margin: 20px 0;
  text-align: center;
}