@import "bootstrap-sprockets";
@import "bootstrap";

/* ユーザー顧客一覧テーブル */

#user-clients-table {
  margin-top: 10px;
  tr.hover {
    cursor:  pointer;
  }
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 顧客情報入力フォーム */

.label-new-client {
  margin-top: 5px;
}

.label-edit-client {
  margin-top: 5px;
}

.client-submit-area {
  margin-top: 10px;
  text-align: center;
}

.year-form {
  padding: 0 0 0 15px !important;
  width: 28% !important;
}

.year-string {
  font-size: 1.2em;
  padding: 4px !important;
  text-align: right;
  width: 5% !important;
}

.month-form {
  padding: 0 0 0 15px !important;
  width: 28% !important;
}

.month-string {
  font-size: 1.2em;
  padding: 4px !important;
  text-align: right;
  width: 5% !important;
}

.day-form {
  padding: 0 0 0 15px !important;
  width: 28% !important;
}

.day-string {
  font-size: 1.2em;
  padding: 4px !important;
  text-align: right;
  width: 5% !important;
}

/* 顧客詳細ページ */

#client-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.client-show-btn-area {
  text-align: center;
}

.btn-client-history {
  margin: 20px 0;
  text-align: center;
}