@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.container {
  padding: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  background: black;
  margin-bottom: 15px;
  position: relative;
}

#logo {
  float: left;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 7px 0;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav {
  font-size: 1.5em;
  margin-top: 10px;
}

.dropdown-menu {
  font-size: 1em;
}

th {
  font-size: 1.5em;
}

td {
  font-size: 1.3em;
}

/* トップページ */

a.main-link {
  text-decoration: none;
}

.circle {
  background: midnightblue;
  border-radius: 50%;
  height: 200px;
  margin: 30px auto;
  text-align: center;
  width: 390px;
}

.main-btn {
  color: white;
  font-size: 3.5em;
  line-height: 200px;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* 検索フォーム */

.search-area {
  margin-bottom: 15px;
}

.search-tilte {
  margin: 0;
}

.search-birth-tilte {
  margin: 0;
  padding-left: 15px;
}

.search-form-left {
  padding: 0;
}

.search-form-right {
  padding: 0 15px 0 0;
}

.search-birth-left {
  padding: 0 0 0 15px;
}

.search-birth-right {
  padding: 0;
}

/* 郵便番号検索フォーム */

.form-zip-left {
  padding: 0 0 0 15px;
}

.form-zip-right {
  padding: 30px 15px 0 0 ;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}