@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-bottom: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.4em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  background: black;
  height: 70px;
  margin-bottom: 0px;
  position: relative;
}

#logo {
  float: left;
  font-size: 2.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 7px 0;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav {
  font-size: 1.3em;
  margin-top: 10px;
}

.dropdown-menu {
  background-color: whitesmoke !important;
  font-size: 0.8em;
  position: absolute !important;
  a {
    color: black !important;
  }
}

th {
  font-size: 1.1em;
}

td {
  font-size: 1em;
}

/* トップページ */

.main-item {
  margin-top: 30px;
  text-align: center;
}

a.main-link {
  text-decoration: none;
}

.circle {
  background: midnightblue;
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  text-align: center;
  width: 350px;
}

.main-btn {
  color: white;
  font-size: 3.4em;
  line-height: 200px;
}

/* flash_messages */

.alert {
  margin-top: 10px;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* 検索フォーム */

.search-area {
  margin-bottom: 15px;
}

.search-tilte {
  margin: 0;
  padding-left: 15px;
}

.search-birth-tilte {
  margin: 0;
  padding-left: 15px;
}

.search-form-left {
  padding: 0 0 0 15px;
}

.search-form-right {
  padding: 0 15px 0 0;
}

.search-birth-left {
  padding: 0 0 0 15px;
}

.search-birth-right {
  padding: 0;
}

/* 郵便番号検索フォーム */

.form-zip-left {
  padding: 0 0 0 15px;
}

.form-zip-right {
  padding: 30px 15px 0 0 ;
}

/* 定期課金説明 */

.subscription-explain {
  background: gainsboro;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  .price {
    font-size: 2em;
    text-align: center;
  }
  .trial-span {
    font-size: 2em;
    text-align: center;
    span {
      color: red;
    }
  }
  .trial-explain {
    font-size: 1.3em;
    text-align: center;
    span {
      border-bottom: 1px solid red;
    }
  }
  .raw {
    .raw-title {
      font-size: 1.2em;
      font-weight: bold;
      padding: 20px 0 10px 0;
      text-align: center;
    }
    .raw-explain {
      .raw-item {
        font-weight: bold;
        margin-bottom: 10px;
        padding-left: 25px;
        span {
          border-bottom: 1px solid black;
        }
      }
      .raw-content {
        margin-bottom: 10px;
        padding: 0 25px;
      }
    }
  }
}

/* 利用規約 */

.terms-sentences {
  background: whitesmoke;
  border: 1px solid black;
  height: 300px;
  margin-top: 10px;
  overflow: scroll;
  padding: 5px;
  div.terms-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    font-size: 0.8em;
    margin: 0;
  }
  div.clause-title {
    font-weight: bold;
    margin-top: 5px;
  }
  div.clause-content {
    p {
      font-size: 0.8em;
      margin: 0;
    }
    ol {
      font-size: 0.8em;
      margin: 0 0 0 0px;
      padding: 0px 0px 0px 20px;
    }
  }
  div.terms-end {
    font-size: 0.8em;
    margin: 10px 10px 10px 0;
    text-align: right;
  }
}

.confirm-consent-area {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 10px 10px 15px;
  input[type=checkbox] {
    transform: scale(1.5);
  }
  span {
    font-weight: bold;
    margin-left: 10px;
  }
}

.link-to-input-form {
  margin: 15px 0;
  text-align: center;
}

/* プライバシーポリシー */

.privacy-policy {
  background: whitesmoke;
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
  div.privacy-policy-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    font-size: 0.8em;
    margin: 0;
  }
  div.policy-clause-title {
    font-weight: bold;
    margin-top: 5px;
  }
  div.policy-clause-content {
    p {
      font-size: 0.8em;
      margin: 0;
    }
    ol {
      font-size: 0.8em;
      margin: 0 0 0 0px;
      padding: 0px 0px 0px 20px;
    }
  }
  div.policy-end {
    font-size: 0.8em;
    margin: 10px 10px 10px 0;
    text-align: right;
  }
}

.back-from-policy {
  margin: 15px 0;
  text-align: center;
}


//* スマホ *//

@media screen and (max-width: 480px) {
  .logo {
    display: inline-block;
  }
  #logo {
    font-size: 2.3em;
    margin-top: 5px;
  }
  .pc-menu {
    display: none;
  }
  .sp-menu {
    background: white;
    display: block !important;
    float: left;
    height: 70px;
    margin-right: 10px;
    width: 40px;
    .top-space {
      background: black;
      height: 10px;
    }
    .hamburger-menu {
      background: black;
      height: 40px;
      span {
        display: inline-block;
        transition-duration: .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 40px;
        height: 4px;
        background: white;
        border-radius: 5px;
      }
      .line-1 {
        margin-left: 15px;
        }
      .line-2 {
        margin: 18px 0 0 15px;
      }
      .line-3 {
        margin: 36px 0 0 15px;
      }
    }
    .menu-logo {
      background: black;
      color: white;
      font-size: 0.9em;
      height: 20px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.sp-sidebar {
  background: black;
  display: none;
  padding-top : 20px;
  position: absolute;
  height: 100%;
  transform: translateX(-15px);
  width: 50%;
  z-index: 1;
  ul {
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
    li {
      margin-bottom: 10px;
      a {
        color: white;
      }
      a:hover {
        color: gainsboro;
        text-decoration: none;
      }
    }
  }
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}