/* 新規オーダー登録ページ */

.label-new-order {
  margin-top: 5px;
}

.btn-new-order {
  margin-top: 10px;
}

.cost-area {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.cost-left {
  padding: 0 0 0 15px;
}

.cost-right {
  color: red;
  text-align: center;
}

input[type=checkbox].pay-checkbox {
  margin-top: 10px;
  transform: scale(1.5);
}

/* オーダー編集ページ */

.label-edit-order {
  margin-top: 5px;
}

.btn-edit-order {
  margin-top: 10px;
}

.cost-area {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

/* 取引中オーダー一覧テーブル */

#trading-orders-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* オーダー詳細テーブル */

#order-show-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  td.total-unpaid {
    color: red;
  }
}

.paid {
  margin-left: 20px;
}

.unpaid {
  color: red;
  margin-left: 20px;
}

.show-btn-area {
  text-align: center;
}

/* 取引済オーダーテーブル */

#traded-orders-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* オーダー履歴テーブル */

#history-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}