/* オーダー情報入力フォーム */

.label-new-order {
  margin-top: 5px;
}

.narrow-client-left {
  padding: 0 0 0 15px;
}

.narrow-client-right {
  margin-top: 30px;
  padding: 0 15px 0 0;
}

.subtitle-area {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.cost-left {
  padding: 0 0 0 15px;
}

.cost-right {
  color: red;
  padding: 0;
  text-align: center;
}

input[type=checkbox].pay-checkbox {
  margin-top: 10px;
  transform: scale(1.5);
}

.label-edit-order {
  margin-top: 5px;
}

.file-select-area {
  padding-top: 4px;
}

.form-img-select-area {
  margin-top: 5px;
}

.del-img-check-area {
  margin-top: 3px;
  padding: 0 27px 0 0px;
  text-align: right;
}

input[type=checkbox].del-checkbox {
  margin: 10px 0 0 10px;
  transform: scale(1.5);
}

.form-img-note-area {
  margin: 10px 0 10px 0;
}

.img-note-label-area {
  padding: 0;
}

.img-note-text-area {
  padding: 0;
}

.order-submit-area {
  text-align: center;
}

/* 取引中オーダー一覧テーブル */

#trading-orders-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* オーダー詳細テーブル */

#order-show-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  td.total-unpaid {
    color: red;
  }
}

.paid {
  margin-left: 20px;
}

.unpaid {
  color: red;
  margin-left: 20px;
}

.img-display-btn-area {
  margin-bottom: 20px;
  text-align: center;
}

.img-display-area {
  align-items: center;
  background-color: black;
  border: 2px solid;
  display: flex;
  height: 764px;
  justify-content: center;
  margin: 0 auto;
  width: 574px;
}

.img-title-area {
  h3 {
    margin: 0;
    text-align: center;
  }
  p {
    margin-top: 10px;
    text-align: center;
  }
  background-color: whitesmoke;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  height: 80px;
  margin: 0 auto 20px;
  padding: 5px 10px;
  width: 574px;
}

.show-btn-area {
  text-align: center;
}

/* 取引済オーダーテーブル */

#traded-orders-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 取引済オーダー集計テーブル */

#traded-total-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 顧客オーダー履歴テーブル */

#client-history-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 工場オーダー履歴テーブル */

#plant-history-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了テーブル */

#unpaid-orders-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了費用合計金額表示テーブル */

#total-unpaid-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了金額を赤で表示 */

span.red {
  color: red;
}

div.ui-datepicker {
  width: 220px;
  font-size: 90%;
}