/* オーダー情報入力フォーム */

.label-new-order {
  margin-top: 5px;
}

.narrow-client-left {
  padding: 0 0 0 15px;
}

.narrow-client-right {
  margin-top: 30px;
  padding: 0 15px 0 0;
}

div.ui-datepicker {
  font-size: 85%;
  width: 220px;
}

.subtitle-area {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.cost-left {
  padding: 0 0 0 15px;
}

.cost-right {
  color: red;
  padding: 0;
  text-align: center;
}

.payed {
  font-size: 0.5em !important;
  padding-top: 2px;
}

input[type=checkbox].pay-checkbox {
  margin-top: 13px;
  transform: scale(1.5);
}

.label-edit-order {
  margin-top: 5px;
}

.img-form-item {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.img-form-above {
  border-bottom: 1px solid gainsboro;
}

.img-label-area {
  display: inline-block;
  float: left;
  width: 18%;
}

.img-form-area {
  display: inline-block;
  float: left;
  width: 82%;
}

input[type=file].file-select {
  margin-right: 10px;
  padding-top: 2px;
  transform: scale(0.8);
  vertical-align: middle;
}

.img-note-area {
  display: inline-block;
  border-right: 1px solid gainsboro;
  float: left;
  padding: 5px 15px 5px 0;
  width: 70%;
}

.img-del-area {
  display: inline-block;
  float: left;
  height: 44px;
  padding-top: 5px;
  text-align: center;
  width: 30%;
}

input[type=checkbox].del-checkbox {
  margin-left: 10px;
  transform: scale(1.5);
}

.order-submit-area {
  text-align: center;
}

/* 取引中オーダー一覧テーブル */

#trading-orders-table {
  tr.hover {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* オーダー詳細テーブル */

#order-show-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  td.total-unpaid {
    color: red;
  }
}

.paid {
  margin-left: 20px;
}

.unpaid {
  color: red;
  margin-left: 20px;
}

.img-display-btn-area {
  margin-bottom: 20px;
  text-align: center;
}

.img-display-area {
  align-items: center;
  background-color: black;
  border: 2px solid;
  display: flex;
  height: 764px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 640px) {
	.img-display-area {
    align-items: center;
    background-color: black;
    border: 2px solid;
    display: flex;
    height: 500px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
}

img {
  max-height: 100%;
  max-width: 100%;
}

.img-title-area {
  h3 {
    margin: 0;
    text-align: center;
  }
  p {
    margin-top: 10px;
    text-align: center;
  }
  background-color: whitesmoke;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  height: 80px;
  margin: 0 auto 20px;
  padding: 5px 10px;
  width: auto;
}

.show-btn-area {
  text-align: center;
}

/* 取引済オーダーテーブル */

#traded-orders-table {
  tr.hover {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 取引済オーダー集計テーブル */

#traded-total-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 顧客オーダー履歴テーブル */

#client-history-table {
  tr.hover {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 工場オーダー履歴テーブル */

#plant-history-table {
  tr.hover {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了テーブル */

#unpaid-orders-table {
  tr.hover {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了費用合計金額表示テーブル */

#total-unpaid-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 支払い未完了金額を赤で表示 */

span.red {
  color: red;
}
