/* ユーザー工場未登録時メッセージ */

.no-plant-msg {
  border: 5px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center;
}

/* ユーザー工場一覧テーブル */

#user-plants-table {
  margin-top: 10px;
  tr.hover {
    cursor:  pointer;
  }
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 工場情報入力フォーム */

.label-new-plant {
  margin-top: 5px;
}

.label-edit-plant {
  margin-top: 5px;
}

.plant-submit-area {
  margin-top: 10px;
  text-align: center;
}

/* 工場詳細ページ */

#plant-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.plant-show-btn-area {
  text-align: center;
}

.btn-plant-history {
  margin: 20px 0;
  text-align: center;
}