/* ユーザー工場一覧テーブル */

#user-table-plants {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 新規工場登録フォーム */

.label-new-plant {
  margin-top: 5px;
}

.btn-new-plant {
  margin-top: 10px;
}