/* ユーザー工場一覧テーブル */

#user-plants-table {
  tr {
    cursor:  pointer;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

/* 工場情報入力フォーム */

.label-new-plant {
  margin-top: 5px;
}

.label-edit-plant {
  margin-top: 5px;
}

.plant-submit-area {
  margin-top: 10px;
  text-align: center;
}

/* 工場詳細ページ */

#plant-table {
  th {
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.plant-show-btn-area {
  text-align: center;
}

.btn-plant-history {
  margin: 20px 0;
  text-align: center;
}