/* ユーザー情報テーブル */

#user-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.to-user-edit {
  text-align: center;
}

/* 新規アカウント作成ページ */

.plan-title {
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px 0 15px 0;
  text-align: center;
}

.price-explain {
  font-size: 2em;
}

.free-span {
  color: red;
}

.free-span-explain {
  border-bottom: 1px solid red;
  font-size: 1.3em;
}

/* 利用規約 */

.terms-of-service {
  border: 1px solid black;
  height: 300px;
  margin-top: 10px;
  overflow: scroll;
  padding: 5px;
  p {
    font-size: 0.8em;
    margin: 0;
  }
}

.terms-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.clause-title {
  font-weight: bold;
  margin-top: 5px;
}

.clause-content {
  p {
    font-size: 0.8em;
    margin: 0;
  }
  ol {
    font-size: 0.8em;
    margin: 0 0 0 0px;
    padding: 0px 0px 0px 20px;
  }
}

.terms-end {
  font-size: 0.8em;
  margin: 10px 10px 10px 0;
  text-align: right;
}

/* 利用規約同意確認エリア */

.confirm-consent-area {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px 10px 10px 15px;
  input[type=checkbox] {
    transform: scale(1.5);
  }
  span {
    font-weight: bold;
    margin-left: 10px;
  }
}

.link-to-input-form {
  margin: 15px 0;
  text-align: center;
}

/* ユーザー情報入力フォーム */

.label-signup {
  margin-top: 5px;
}

.label-user--edit {
  margin-top: 5px;
}

.user-submit-area {
  margin-top: 10px;
  text-align: center;
}

/* ユーザー一覧ページ */

#table-users {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }  
}

/* パスワード再設定ページ */

.label-reset-password {
  margin-top: 5px;
}

#password-reset-user-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}