/* ユーザー情報テーブル */

#user-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.to-user-edit {
  text-align: center;
}

#card-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.to-card-edit {
  text-align: center;
}

/* ユーザー登録フォーム */

.label-signup {
  margin-top: 5px;
}

.card-panel {
  margin-top: 20px;
}

.card-title {
  font-size: 1.5em;
  line-height: 30px;
  text-align: center;
}

.card-icons {
  border-bottom: 1px solid gainsboro;
  padding: 0 0 15px 0;
  div {
    text-align: center;
  }
}

.exp-area {
  text-align: center;
}

.exp-mm {
  float: left;
  display: inline-block;
  width: 45%;
}

.separate-mm-yy {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 2px;
  text-align: center;
  width: 10%;
}

.exp-yy {
  display: inline-block;
  float: right;
  width: 45%;
}

.user-create-submit {
  margin-top: 10px;
  text-align: center;
}

/* ユーザー編集フォーム */

.label-user-edit {
  margin-top: 5px;
}

.user-edit-submit {
  margin-top: 10px;
  text-align: center;
}

/* ユーザー一覧ページ */

#table-users {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }  
}

/* パスワード再設定ページ */

.label-reset-password {
  margin-top: 5px;
}

#password-reset-user-table {
  th {
    background-color: navy;
    color: silver;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.search-account-btn-area {
  margin-top: 10px;
  text-align: center;
}

.password-reset-btn-area {
  margin-top: 10px;
  text-align: center;
}

/* クレジットカード更新ページ */

.edit-card {
  margin-top: 30px;
}

.edit-payment-label {
  margin-top: 5px;
}

.edit-card-btn-area {
  text-align: center;
}