/* ユーザー情報テーブル */

#user-table {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
}

.to-user-edit {
  text-align: center;
}

/* ユーザー情報入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

.user-search-area {
  margin-bottom: 15px;
}

.search-user {
  margin: 0;
}

.user-search-form {
  padding: 0;
}

#table-users {
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }  
}